<div class="jumbotron">
    <div class="container">
        <h1>DockerRails</h1>
        <p>This is very simple todo app built on rails.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
    </div>
</div>
